body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

a {
    text-decoration: none;
    color: black;

}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 100px;
}

button {
    background-color: green;
    color: #ffffff;
    border-radius: 8px;
    width: 140px;
    height: 32px;
}
.button_margin:hover{
    cursor: pointer;
}

.subtitle_margin {
    padding-top: 16px;
}


/* section 2 and 4 */

section {
    display: flex;
}

.part_2_4 {
    display: flex;
    margin-bottom: 40px;
}

.main_image {
    height: 200px;
    border-radius: 8px;
    margin-right: 16px;
}

.main_image_two {
    height: 128px;
    border-radius: 8px;
}

.page_2_and_4_text {
    flex-direction: column;
}

.section_2_and_4_column {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 48px;
}

.text {
    height: fit-content;
    width: 100%;
}

.margin-top {
    margin-top: 20px;
}

/* Part 3 */

.recept_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    height: 200px;
    background-color: #efefef;
    padding-bottom: 20px;
}

.receptpage_content {
    margin-left: 10px;
}

.pfanne {
    margin-top: 30px;
}

.overlay {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

.pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recept_div {
    width: fit-content;
    justify-items: center;
}

.recept_img {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
}

.section1_content {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: end;
}

@media screen and (max-width: 850px) {

    .main_image {
        height: 150px;
    }
}

@media screen and (max-width: 750px) {
    a {
        font-size: 16px;
    }

    .start_responsive {
        display: none;
    }

    .rezept_des_tages_responsive {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .section_2_and_4_column {
        height: fit-content;
    }

    .overlay {
        display: flex;
        flex-direction: column;
    }

    .pick {
        text-align: center;
    }

    .recept_page {
        margin-top: 224px;
        height: 365px;
    }

    .section_2_and_4_column {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .section_2_and_4_column {
        margin-bottom: auto;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 24px;
        display: flex;
        justify-content: center;
    }

    a {
        font-size: 16px;
    }

    .section_2_and_4_column {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }

    .section_2_and_4_column {
        padding: 0;
    }

    .recept_page {
        margin-top: 280px;
    }
}

@media (max-width:730px) {
    img {
        height: 68px;
    }
}

@media (max-width:640px) {
    .overlay {
        gap: 20px;
    }

    .recept_page {
        margin-top: 180px;
    }

}

@media (max-width:400px) {

    h2 {
        font-size: 16px;
    }

    nav {
        display: flex;
    }

    .recept_page {
        margin-top: 200px;
        height: 380px;
    }
}

@media(max-width:388px) {
    .section_2_and_4_column {
        margin-top: 48px;
    }
}

@media(max-width:492px) {
    .section_2_and_4_column {
        margin-top: 10px;
    }
}

@media(min-width:1440px) {
    .section_2_and_4_column {
        max-width: 1440px;
        margin: 0 auto;
    }

    .lust_auf_was_neues {
        max-width: 1440px;
        margin: 0 auto;
    }

    .overlay {
        max-width: 1440px;
        margin: 0 auto;
    }

    .margin-top {
        max-width: 1440px;
        margin: 0 auto;
    }

    .section_2_and_4_column {
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;
    }
    .footer_under_div{
        max-width: 1440px;
        margin: 0 auto;     
    }
}

@media(min-height :1050px){
    footer{
        position: fixed;
        bottom: 0;
    }
}

/* footer responsive */
