body, html {
    margin: 0;
    padding: 0;
    background-color: #F6F7F8;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
}

button {
    background-color: #2A3647;
}