
    html{
        scroll-behavior: smooth;
    }

    body{
        margin: 0;
        padding: 0;
        max-width: 100%;
   
        font-family: "Raleway", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    button{
        font-display: none;
    }

    .page_one{
       width: 100%;
    }

    .background_ramen{
        width: 100%;
        height: 100vh;
        background-image: url('./hero_bg.jpg');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        box-sizing: border-box; 
    }
    

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 112px;
    }

    .header_hover{
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
    }
    .header_hover:hover{
        text-decoration: underline;
    }

    .rose{
        width: 64px;
        height: 64px;
        margin-left: 160px;
    }

    .rosediv{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        color: white;
        font-size: 24px;
        margin-right: 168px;
    }

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .location{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .phone{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        padding-inline: 10px;
        background-color: #9F0908;
        border: 2px solid white;
        border-radius: 8px;
    }

    .phone_pic{
        width: 20px;
        height: 20px;
        margin-right: 8px;
        padding: 5px;
    }

    .front{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 400px;
        margin-top: 100px;       
    }

    .headline_one_div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
    }

    .headline_one_text{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 96px;
        font-weight: bold;
        color: white;
    }

    .subline_div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .subline_text{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0;
        position: relative;
        font-size: 24px;
        color: white;       
    }

    .eat_name{
        font-family: "Economica", serif;
        font-size: 56px;
    }

    /*TEil 2*/
    
    .eat_thing{
        font-size: 32px;
        margin-bottom: 8px;
        margin: 0;
        font-weight: bold;
        color: #675e54;
    }

    .page_two {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 120px;
    }
       
    .orderlist{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: bold;
        text-align: center;
        margin-bottom: 64px;    
    }

    .howtoorder {
        display: flex;
        justify-content: center;
        font-size: 80px;
        margin-bottom: 64px;
        font-weight: bold;
        color:#9F0908;
    }
    

    .eat {
        display: flex;             
        justify-content: space-between;
        width: 80%; 
        align-items: center;
   
    }

    .pick {
        display: flex;           
        flex-direction: column;   
        align-items: center;
        width: 276px;
        text-align: center;
    }

    .eatimg {
        display: flex;
        justify-content: center;
        height: 128px;
        width: 128px;
    }

    .pick_your{
        font-family: "Economica", serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        font-size: 56px;
        font-weight: bold;
    }

    /*Teil 3*/
    .page_three {
        margin: 120px;
    }

    .background_beige{
        background-image: url('./section_our_menu_bg.jpg');
    }

    
    .ourmenu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        margin-top: 120px;
        font-weight: bold;
        color: #9F0908;
    }
    
    .meal {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 56px;
    }
    
    .meal_right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 56px;
    }

    .menu_div, .menuright {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 16px;
    }

    .menueat, .menupay, .menueatrechts, .menupayrechts {
        margin-bottom: 8px;
    }

    .menueat{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
    }

    td {
        display: flex;
        flex-direction: column;
    }

    .eat_name {
        display: flex;
        margin-bottom: 0;
    }

    .eat_name_right {
        font-family: "Economica", serif;
        display: flex;
        margin: 0;
        font-size: 56px;
        font-weight: bold;
    }

    .boxprice {
        margin-left: 80px;
    }

    .boxprice_right {
        margin-right: 80px;
    }
    
    .all, .allright{
        display: flex;
        justify-content: space-between;
        width: 472px;
    }

    .spicy {
        display: flex;
        justify-content: center;
        align-items: center;     
    } 

    .ramen{
        display: flex;
        width: 352px;
        height: 352px;
    }


    .ramenrechts{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 352px;
        height: 352px;
        margin-left: 80px;        
    }



    .menupay{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        font-size: 32px;
    }

    .tonkotsu {
        margin-bottom: 120px;
    }

    /* Page 4 */
    .page_four {
        margin-top: 120px;
    }

    .findusat {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .find_us_at_text {
        color: #9F0908;
        font-size: 80px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 8px;
    }

    .street {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 64px;
    }

    .place_marker {
        display: flex;
        justify-content: center;
    }

    .place_marker_icon {
        width: 24px;
        height: 24px;
    }   

    .place {
        display: flex;  
        justify-content: space-between; 
        align-items: center;
    }   

    .place_text, .find_us_at_text, .howtoorder {
        margin: 0;
    }

    .place_text {
        font-size: 24px;
    }


    .mapslist {
        width: 100%;
    }

    
    .rose_end {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        color: black;
    }
    
    .end_rose_img {
        height: 44px;
        width: auto;
        margin-left: 120px;
    } 
    
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 144px;
        background-color: black;   
    }

    .social {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-right: 120px;
    }

    .tripadvisor_logo, .facebook_logo, .instagram_logo {
        width: 40px;
        height: 40px;
    }
    .rose_short_end {
        display: none;
    }



    @media screen and (max-width: 1206px) {
        /* .ourmenu{
            margin-top: 80px;
        } */
        .ramen {
            margin-bottom: 32px;
        }
        .eat_name, .eat_name_right{
            font-size: 32px;
            align-items: flex-start;
        }
        .eat_thing {
            font-size: 24px;
        }
        .all, .allright{
            width: 355px;
        }
        .pick {
            width: 132px;
        }
        .eatimg{
            height: 114px;
            width: 114px; 
        }
        .pick_your{
            font-size: 40px;

        }
        .howtoorder, .ourmenu, .find_us_at_text{
           font-size: 64px; 
        }
        .headerright{
            font-size: 16px;        
        }
        .rose{
            width: 40px;
            height: 40px;
        }
        .headline_one_text{
            font-size: 80px;
        }
        .find_us_at_text {
            font-size: 64px;
        }
        .subline_text{
            font-size: 20px;
        }
        .place_text{
            font-size: 16px;
        }
        .headerright{
            margin-right: 32px;
        }
        .eat {
            flex-direction: column;
            height: auto;
        }
        .end_rose_img {
            display: none;
        }
        .footer {
            height: 86px;
        }

        .rose_short_end {
            display: flex;
            width: 40px;
            height: 40px;
            margin-left: 16px;
        }
        .tripadvisor_logo, .facebook_logo, .instagram_logo{
            width: 32px;
            height: 32px;
        }
        .meal {
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .meal_right{
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
        }
        .boxprice, .boxprice_right{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            margin: 16px;
        }
        .tonkotsu{
            margin-bottom: 0;
        }
        .page_two {
            margin: 0; 
            margin-top: 120px;
        }
        }

    @media screen and (max-width: 740px) {
        .rose{
            margin: 24px;
        }
        .front{
            margin: 0;
        }
        .headline_one_text{
            font-size: 52px;
        }
        .subline_text{
            font-size: 16px;
        }
        .howtoorder, .ourmenu{
            font-size: 40px;
        }
        .social{
            margin-right: 32px;
        }
        .page_three {
            margin: 0;
            margin-top: 120px; 
        }
        .find_us_at_text {
            font-size: 40px;
        }
    }
    @media screen and (max-width:599px){
       .menu{
        display: none;
       } 
       .location{
        display: none;
       }
       .about{
        display: none;
       }
    }
    @media screen and (max-width: 470px) {
        .rose_short_end{
            margin: 10px;
        }
        .find_us_at_text {
            font-size: 30px;
        }
        .nummer{
            font-size: 10px;
            margin-right: 0;
            padding: 0;
        }
        .page_two{
            margin-top: 50px;
        }
        .orderlist{
            margin-bottom: 40px;
        }
        .eatimg {
            height: 80px;
            width: 80px;
        }
        .pick_your {
            font-size: 28px;
        }
        .page_three {
            margin: 50px;
        }
        .all, .allright{
            width: 233px;
        }
        .eat_name, .eat_name_right{
            font-size: 28px;
        }
        .eat_thing{
            font-size: 20px;
        }
        /* .find_us_at_text {
            font-size: 30px;
        } */
        .place_marker_icon {
            width: 12px;
            height: 12px;
        }
        .place_text {
            font-size: 12px;
        }
        .footer{
            height: 65px;
        }
        .menuright{
            margin-bottom: 0px;
        }
        .howtoorder, .ourmenu {
            font-size: 30px;
        }
        }
        @media screen and (max-width: 440px) {
        header {
            height: 64px;
        }
        .headline_one_text{
            font-size: 32px;
        }
        .subline_text{
            font-size: 16px;
        }
            .background_ramen{
                height: 50vh;
            }
            header{
                justify-content: center;
                flex-direction: column;
            }
            .phone{
                margin-left: 28px;
            }
            .front{
                height: 216px;
            }
            .headline_one_div{
                height: 49px;
            }
            .page_two{
                margin: 0;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            .subline{
                font-size: 8px;
            }
            .all, .allright{
                width: 100px;
            }
            .ort_text {
                font-size: 5px;
            }
            .footer {
                height: 48px;
            }
            .page_three{
                margin: 0; 
            }
            .page_four{
                margin: 0; 
            }
            .street{
                margin: 5px; 
            }
            .gericht, .gericht_rechts, .orderlist{
                margin-bottom: 20px; 
            }
            .rose_short_end {
                width: 20px;
                height: 20px;
                margin: 0;
                margin-left: 8px;
            }
            .ramen {
                width: 200px;
                height: 200px;
            }
            .tripadvisor_logo, .facebook_logo, .instagram_logo {
                width: 24px;
                height: 24px;
           }
           .rose_short_end {
                width: 20px;
                height: 20px;
            }
            .menu_padding {
                padding: 0;
            }
             .all {
                display: flex;
                width: 100%;
                align-items: center;
            }
        }
        @media screen and (max-width: 256px) {
            .ramen {
                width: 100px;
                height: 100px;
            }
            .menu_padding {
                padding-right: 30px;
            }
            .footer {
                height: 48px;
            }
        }