body {
    margin: 0;
    padding: 0;
    font-family: "Noto Serif", serif;

    background-color: #595c8e;
}

.img_menu_div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu_img {
    width: 50px;
    height: fit-content;
}

.booksimg {
    width: 225px;
    height: fit-content;
    border-radius: 8px;
}

#books_content {
    border-radius: 16px;
    margin: 20px;
}

.columnlinebooks, .img_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.underdiv {
    background-color: #afa396;
    margin: 20px;
    border-radius: 16px;
}

.under_under_div {
    padding: 16px;
}


.likebutton_div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.legal-info_div {
    padding-left: 20px;
}

.legal-links {
    color: #ffff;
    cursor: pointer;
}

.underdiv:hover {
    transform: scale(1.05);
}

.legal-links_div:hover {
    transform: scale(1.05);
}