body {
    font-family: "New Rocker", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    background-image: url('./img/10_page_background/desert.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
}

h1 {
    font-size: 50px;
    margin: 20px;
}

.fullscreen-button {
    margin: 15px;
    padding: 5px;
    border-radius: 8px;
    background-color: #ffa509;
    color: #000000;
    border-color: transparent;
    box-shadow: 0 12px 22px rgba(177, 118, 8, 0.4);
}

canvas {
    background-color: black;
    display: block;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}