body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    
    
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.h2_section2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}



a {
    text-decoration: none;
    color: black;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 68px;
    height: 100px;
}

button {
    background-color: green;
    color: #ffffff;
    border-radius: 8px;
    width: 140px;
}

.kochwelt_imgage_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_1 {
    padding-left: 50px;
    padding-right: 50px;
}

.salad_img {
    height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.characteristic_container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
}


span {
    margin-right: 50px;
    display: flex;
    background-color: rgba(221, 221, 221);
    align-items: center;
    border-radius: 20px;
}

img {
    margin-right: 5px;
    height: 20px;
}

.seperator {
    height: 1px;
    width: 100%;
    background-color: grey;
    margin-top: 70px;
}

.portion_container {
    margin-top: 8px;
    margin-bottom: 10px;
}

.portion_button {
    background-color: green;
    color: #ffffff;
    border-radius: 0px 8px 8px 0px;
    width: 140px;
    height: 32px;
}

.portion_button:hover {
    background-color: rgb(26, 157, 114);
    cursor: pointer;
}

.portion_button:active {
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.input_button {
    border-right: 8px;
    margin-left: 8px;
    border-start-start-radius: 8px;
    border-bottom-left-radius: 8px;
    border-width: 1px;
    border: 2px groove rgba(0, 0, 0, 0.1);
    height: 26px;
    width: 140px;
}



.character{
    padding: 10px;
    height: 15px;
}
.character_img{
    height: 24px;
}

.section_2 {
    padding: 50px;
}

table {
    padding: 50px;
    width: 100%;
    border-collapse: separate;
}



.tr_tomate {
    background-color: #f1f1f1;
}

.tr_Oliven {
    background-color: #f1f1f1;
}

.tr_Petersilie {
    background-color: #f1f1f1;
}

.tr_Olivenöl {
    background-color: #f1f1f1;
}

td {
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-radius: 10px;
    width: 100%;
}


.tomate_div {
    background-color: #f1f1f1;
    border-radius: 150px;
}
.preperation_text{
    padding: 50px;
}
.content_div_recipe{
    overflow-y: hidden;
}

@media screen and (max-width: 850px) {

    .main_image {
        height: 150px;
    }
}

@media screen and (max-width: 750px) {
    a {
        font-size: 16px;
    }

    .start_responsive {
        display: none;
    }

    .rezept_des_tages_responsive {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .section_2_and_4_column {
        height: fit-content;
    }

    .overlay {
        display: flex;
        flex-direction: column;
    }

    .pick {
        text-align: center;
    }

    .recept_page {
        margin-top: 224px;
        height: 365px;
    }

    .section_2_and_4_column {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .section_2_and_4_column {
        margin-bottom: auto;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 24px;
        display: flex;
        justify-content: center;
    }

    a {
        font-size: 16px;
    }

    .section_2_and_4_column {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }

    .section_2_and_4_column {
        padding: 0;
    }

    .recept_page {
        margin-top: 280px;
    }
}

@media (max-width:730px) {
    img {
        height: 68px;


    }
}

@media (max-width:640px) {

    .overlay {
        gap: 20px;
    }

    .recept_page {
        margin-top: 180px;
    }

    .recipe_p {
        font-size: 12px;
    }

}

@media (max-width:400px) {

    h2 {
        font-size: 16px;
    }

    nav {
        display: flex;
    }

    .recept_page {
        margin-top: 200px;
        height: 380px;
    }
}

@media (max-width:320px) {
    .characteristic_container{
        flex-direction: column;
        gap: 10px;
    }
    .character{
        width: 40%;
    }
    .section_1 {
        padding-left: 32px;
        padding-right: 32px;
    }

    .section_2 {
        padding-left: 32px;
        padding-right: 32px;
    }

    .salad_img {
        height: 100px;
    }

    .character {
        margin-right: 1px;
    }

    .input_button {
        margin-bottom: 8px;
    }

    table {
        padding: 24px;
    }

    p {
        font-size: 12px;
    }

}

@media(max-width:404px){
    .characteristic_container{
        flex-direction: column;
        gap: 10px;
    }
}

@media(max-width:730px) {
    img {
        height: 18px;
    }
}

@media(max-width:546px) {
    .character {
        font-size: 12px;
    }
}

@media(max-width:405px) {
    .character {
        margin: 0px;
    }
}

@media(max-width:450px) {
    .salad_img {
        height: 100px;
    }
}
@media(max-width:438px){
    .character{
        margin-right: 24px;
    }
}
@media(max-width:386px){
    .character{
        font-size: 8px;
    }
}
@media(max-width:514px){
    span{
        margin-right: 24px ;
    }
    .socialmedia_icon{
        height: 32px;
    }
}

@media(max-width:800px){
    .preperation_text{
        font-size: 16px;
    }
}
@media(max-width:500px){
    .preperation_text{
        font-size: 14px;
    }
}
@media(min-width:1440px){
    .section_1{
        max-width: 1440px;
        margin: 0 auto;
    }
    .table{
        max-width: 1440px;
        margin:0 auto;
    }
    .section_2{
        max-width: 1440px;
        margin: 0 auto;
    }
    .recipe_p{
        max-width: 1440px;
        margin: 0 auto;
    }
    .content_div_recipe{
        max-width: 1440px;
        margin: 0 auto;
    }
    .footer_under_div{
        max-width: 1440px;
        margin: 0 auto;
    }
}
@media(max-width:501px){
    .input_button{
        height: 24px;
        width: 72px;
    }
    .portion_button{
        height: 32px;
        width: 72px;
    }
}
@media(max-width:365px){
    .portion_container{
        font-size: 14px;
    }
}
@media(max-width:509px){
    .portion_container{
        display: flex;
    }
}


@media screen and (max-width: 450px) {
    .footer_socialmedia_img {
        padding-top: 8px;
        height: 22px;
        width: fit-content;
    }
    .footer_img {
        height: 45px;
        width: fit-content;
    }
}


@media(max-width:700px){
    .footer_img{
        height: 72px;
    }
}
@media(max-width:500px){
    a{
        font-size: 16px;
    }
    .footer_img{
        height: 54px;
    }
}
@media(max-width:400px){
    .footer_img{
        height: 48px;
    }
    .socialmedias_div{
        padding: 0px;
        margin-right: 8px;
        height: 24px;
    }
}

@media(min-height:1700px){
    footer{
        position: fixed;
        bottom: 0;
    }
}
@media (max-width:500px){
    footer{
        position: relative;
        bottom: 0;
    }
}
@media(max-width:320px){
    .socialmedia_icon{
        height: 22px;
    }
}








