

.ratings {
    color: orange;
}

.categories {
    display: flex;
    align-items: center;
}

.ratings, .categories, h1 {
    padding-left: 20px;
}

.burger_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Meal {
    padding-left: 8px;
    padding-right: 8px;
    width: 92%;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    padding: 10px;
}

.Meal_header_and_add_div {
    display: flex;
    justify-content: space-between;
}

.a_price_orange {
    color: orange;
}

.product-info {
    display: flex;
    flex-direction: column;
}

#content_none {
    display: block;
}

section {
    flex-flow: 1;
}

@media (min-width: 1440px) {
    section {
        max-width: 1440px;
        margin: 0 auto;
    }
    #basket {
        max-width: 1440px;
        margin: 0 auto;
    }
    #content_none {
        width: 1440px;
    }
}
