body {
    margin: 0;
    font-family: "Viga", serif;
    color: white;
}

.aot {
    background-image: url('./img/header.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    position: absolute;     /* wir wollen, dass es absolut platziert ist */
    top: 0;
    left: 0;
    right: 0;
}

header img {
    width: 100px;
}

.navlink {
    color: white;
    text-decoration: none;
    margin-left: 16px;
}

.navlink:hover{
    color: #B48A4E;
}

.mt-16 {
    margin-top: 16px;
}

.navimgage{
    height: 24px;
    width: 24px;
    margin-left: 16px;
}

.navimgage:hover {
    filter: drop-shadow(0px 0px 4px #FFFFFF);
    cursor: pointer;
}

h1 {
    font-size: 84px;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-family: 'viga';
    font-weight: 100;
    text-align: center;
}

.button {
    background-color: #B48A4E;
    color: white;
    text-decoration: none;
    padding: 16px;
}

.section-qicklinks {
    background-color: black;
    padding: 80px 80px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.quicklink {
    display: flex;
    flex-direction: column;
    color: #B48A4E;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    gap: 8px;
    flex: 1;
}

.quicklink img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.buy-ticket-section {
    background-color: #272727;
    display: flex;
    align-items: center;
    /* align-items: stretch;        der Oberklasse hinzufügen */
}

.buy-ticket-img-left {
    height: 280px;
}

.festival-info {
    margin: 40px;
    height: 2;
    text-align: center;
}

.festival-info h2 {
    margin-block-start: 0;
}

.seperator {
    background-color: white;
    width: 1px;
    height: 200px;
    margin-right: 10px;
}

.buy-ticket-container {
    width: 300px;
    display: flex;
    justify-content: center;
}

.slogan-section {
    padding: 80px 200px;
    color:#B48A4E;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.video-section {
    background-image: url(./img/bottom.png);
    height: 600px;
    background-size: cover;
    background-position: center;
}

footer {
    display: flex;
    background-color: #000;
    padding: 80px 80px;
}

.half-width {
    width: 50%;
}

.footer-social-media-icon {
    width: 32px;
}

.footer-left {
    font-size: 20;
    font-weight: 700;
    display: flex;
    align-items: flex-end;
    padding-right: 16px;
}

.footer-center {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 16px;
}

input {
    height: 41px;
    flex-grow: 1;
}

input::placeholder {
    color: rgba(0,0,0,0.4);
    padding-left: 16px;
}

.button-footer {
    width: 200px;
    border-width: 0;
}

.button-footer {
    width: 200px;
    border-width: 0;
}

.footer-form {
    display: flex;
}
@media screen and (max-width:950px) {
    .buy-ticket-section {
        flex-direction: column;
    } 
    .buy-ticket-img-left {
        width: 100%;
        object-fit: cover;
    }
    .seperator {
        display: none;
        /* width: 200px;
        height: 1px;
        margin-right: 0;
        margin-bottom: 16px; */
    }
    .buy-ticket-container {
        padding-bottom: 40px;
    }
    .buy-ticket-container button {
        width: 100%;
        text-align: center;
    }

    p {
        margin-block-start: 0;
        margin-inline-end: 0;
    }
}

@media screen and (max-width: 700px) {
    .hide-mobile {
        display: none;
    }

    h1 {
        font-size: 48px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
    .full-width-mobile {
        width: 100%;
    }
    .footer-left {
        text-align: center;
        margin-bottom: 32px;
        padding-right: 0;
    }
}