:root{
    --patch_background: #e5e5e5;
    --game_background: #2f3a3d;
    --card_turquoise: #4ac1a6; //cards
    --card_border: #5dd4b8;
    --blue_accent: #4ab1e8;
    --orange_accent: #f29a3c;
    --header_pill: #1f2a2d;
    --text_light: #ffffff;
    --text_dark: #1a1a1a;
    --modal_BG: #ffffff;

    --space_xs: 0.31rem;
    --space_sm: 0.5rem;
    --space_md: 1rem;
    --space_lg: 1.5rem;
    --space_xl: 2rem;
    --space_2xl: 3rem;
}