.cart_mobile_content_overlay {
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.cart_mobile_content {
    min-width: 150px;
    min-height: 50px;
    background-color: rgb(205, 121, 12);
    border-radius: 8px;
    padding: 5px;
    margin: 20px;
    border: none;
}

#CartContent {
    display: none;
    flex-direction: column;
    align-items: center;

    height: fit-content;
    width: 100%;
    padding-bottom: 20px;
    background-color: white;
}

#contentWithCartMobile {
    display: none;
}


@media (max-width: 700px) {
    .cart_mobile_content_overlay {
        display: flex;
    }
}
