body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

footer {
    background-color: rgb(185 181 180);
    position: relative;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
}
.footer_img{
    height: 100px;
}
.datenschutz_footer{
    text-decoration:none;
    color: rgb(0, 0, 0);
    font-size: 24px;
}
.datenschutz_footer:hover{
    text-decoration: underline;
    color: rgb(113, 179, 95);
}
.socialmedias_footer {
    display: flex;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
}

.footer_img-datenschutz_div {
    padding: 16px;
}

.footer_socialmedia_img {
    width: 48px;
    height: 48px;
    margin-left: 16px;
}

.footer_under_div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
@media screen and (max-width: 450px) {
    .footer_socialmedia_img {
        padding-top: 8px;
        height: 24px;
        width: fit-content;
    }
    .footer_img {
        height: 45px;
        width: fit-content;
    }
}


@media(max-width:700px){
    .footer_img{
        height: 72px;
    }
}
@media(max-width:500px){
    a{
        font-size: 16px;
    }
    .footer_img{
        height: 54px;
    }
}
@media(max-width:400px){
    .footer_img{
        height: 48px;
    }
    .socialmedias_div{
        padding: 0px;
        margin-right: 8px;
        height: 24px;
    }
}
@media(max-width:350px){
    .datenschutz_footer{
        font-size: 16px;
    }
}
@media(max-width:320px){
    .footer_socialmedia_img{
        margin-left: 8px;
    }
}

